$fg_version: 0.0 .1;
$fg_debugging: true !default;
$fg_hide_excess: true !default; // hides any element that is not a row or col inside the grid
$fg_max_grid_columns: 12 !default;

$stack: true !default;
$fg_xs_breakpoint: 20rem !default;
$fg_sm_breakpoint: 25.875rem !default;
$fg_md_breakpoint: 48rem !default;
$fg_lg_breakpoint: 64rem !default;

@mixin break {
  @if ($stack) {
    @media only screen and (max-width: $fg_xs_breakpoint) {
      @content;
    }
  }

}
